<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Main Page</a>
      <a class="navbar-brand" href="/games">
        Games
      </a>
      <a class="navbar-brand" href="/games/new">
        New Game
      </a>
      <a class="navbar-brand" href="/developers">
        Developers
      </a>
      <a class="navbar-brand" href="/developers/new">
        New Developer
      </a>
    </div>
  </div>
</nav>
